<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net471" />
  <package id="OpenQA.Selenium.Chrome.ChromeDriverExtensions" version="1.2.0" targetFramework="net471" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net35" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net35" />
  <package id="Selenium.WebDriver" version="4.14.1" targetFramework="net471" />
  <package id="Selenium.WebDriver.ChromeDriver" version="118.0.5993.7000" targetFramework="net471" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net471" />
</packages>